$color-primary: black;
$color-grad-1: white;
$color-grad-2: grey;

$color-grey-light-1: #f9f5f3; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #d3c7c3; // Light text (placeholder)
$color-grey-dark-1: #615551; // Normal text
$color-grey-dark-2: #918581; // Lighter text

$gradient: linear-gradient(to right bottom, $color-grad-1, $color-grad-2);

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: serif;
  background-color: #ddd;
}
.img {
  display: flex;
  background-color: rgb(20, 23, 35);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position-y: 100%;
  background-position: center;
  transition: all 0.5s;
}
.imdiv {
  height: 50vh;
}
h1 {
  width: 60vw;
  margin: 0 auto;
  text-align: center;
  font-size: 5.2rem;
  background-image: linear-gradient(
    to right bottom,
    rgb(253, 2, 2),
    rgb(31, 76, 241)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.start {
  border: none;
  border-radius: 3rem;
  width: 15%;
  padding: 1rem;
  background-color: black;
  color: rgb(255, 60, 0);
  font-size: 3rem;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 1rem #222;
}
.start:hover {
  background-color: rgb(255, 21, 0);
  color: black;
  transform: scale(1.2);
}
.container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding: 3rem 0;
}
